.toy-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
        font-size: 2em;
    }

    h5 {
        font-size: 1em;
    }

    img {
        max-width: 200px;
        display: block;
        margin: auto;
    }

    .back-btn {
        width: 100%;
        display: flex;
        justify-content: start;
    }

    .toy-labels {
        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            display: inline-block;
            background-color: #f0f0f0;
            padding: 5px 10px;
            margin-right: 5px;
            border-radius: 15px;
            font-size: 0.9em;
        }
    }

    .toy-texts {
        border: 3px solid rgba(2, 1, 20, 0.492);
        border-radius: 1rem;
        padding: 0 10px 10px 10px;
        margin: 10px;
        width: 100%;

        input {
            width: 50%;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: start;
        }

        li {
            width: 100%;
            margin-block: 10px;
            gap: 5px;
            text-align: left;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}