.app-header {
    background-color: var(--clr1);
    color: var(--clr1bg);
    top: 0;
    width: 100%;
    position: sticky;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.app-header img {
    max-width: 100px;
}