.toy-filter {
    background-color: var(--clr1bg);
    padding: 1em;
    border-radius: 10px;
}

.toy-filter form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

@media (max-width:600px) {
    .toy-filter form>* {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 5px;
    }
}