.toy-filter {
    background-color: var(--clr1bg);
    padding: 1.5em;
    border-radius: 10px;
}

.toy-filter form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.toy-filter .labels-field {
    display: flex;
}

.toy-sort {
    max-height: 1em;
}

.toy-sort {
    max-height: 1em;
}