.toy-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    gap: 10px;
}

.toy-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    background-color: var(--clr1bg);
    text-align: center;
    border-radius: 10px;
    padding: 1em;
    min-width: 150px;
    max-width: 250px;
}